// Medium devices (tablets, less than 1256px)
@media (max-width: 1255.98px) { 
    :host {
        width: 95%;
    }
}
h2 {
    text-align: center;
}
.row {
    width: fit-content;
    margin: auto;
}
.total-tr {
    background-color: lightgreen !important;
    text-align: center;
}

.IX {
    background-color: #ffd6a5 !important;
}
.X {
    background-color: #caffbf !important;
}
.XI {
    background-color: #bdb2ff !important;
}
.XII {
    background-color: #90e0ef !important;
}